h1{color: indianred; font-family: 'Times New Roman', Times, serif;}
h4{color: black; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

hr.new1 { /*Esto es para darle color a la linea horizontal hr*/
    border: 1px solid #996633;
  }

body    {
    background-image: url("background.jpg");
    background-color: #cccccc;

}

p{color:black; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 18px;}


      a:link {
        color: #865c31;
      }
      
      a:visited {
        color:  #994d00
        ;
      }
      
      a:focus {
        border-bottom: 1px solid;
        background: #ff794d;
      }
      
      a:hover {
        border-bottom: 1px solid;     
        background: #ffd9b3;
      }
      
     a:active {
       background: #ffa64d;
       color: #ffe6cc;
    }

    table{
        border: 2px solid;
        width: 960px;
        resize: both;
        overflow: auto;
    }

    #covid{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
        font-size: 13px; 
        background-color: #5ABA4A; 
        column-span: 12px;
    }
    